In [24]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import lightgbm as lgb
#import xgboost as xgb
import pickle
import sys
sys.path.append('..')

In [25]:
notebook_name = os.path.basename(os.getcwd())
timestamp="07"

In [26]:
path_movie_dir = '../data/movie/fps30_mask/'
path_save_dir = os.path.join('../data/05_Train_regression_ver2.0/', timestamp)
if not os.path.exists(path_save_dir):
    os.makedirs(path_save_dir)
path_train_file = os.path.join(path_save_dir, 'train.csv')
path_model_file = os.path.join(path_save_dir, 'model.pkl')
path_test_file = os.path.join(path_save_dir,'test.csv')

In [27]:
path_label_name_file = '../data/labels/labels_num.csv'
path_action_dir = os.path.join('../data/01_DataProcessing/', timestamp)
path_point_dir = os.path.join('../data/02_GetPoints_ver2.0/', timestamp)
path_split_dir = os.path.join('../data/04_Split_ver2.0/', timestamp)

path_train_file_dir = os.path.join(path_split_dir, 'train')
path_test_file_dir = os.path.join(path_split_dir, 'test')
# path_model_dir = '../data/05_train/'

In [28]:
file_names = ['fall','sitdown', 'standup']
# file_names = ['forehand']
movie_names = [file_name + '.MOV' for file_name in file_names]
points_file_names = [file_name + '.csv' for file_name in file_names]

In [29]:
objective = 'action_gt_num'

In [30]:
features = ['RShoulder','RHip','RKnee','Neck','Nose',
           'LShoulde','LHip','LKnee']

In [31]:
target_columns = []
for feature in features:
    target_columns.append(feature + '_x')
    target_columns.append(feature + '_y')
target_columns

['RShoulder_x',
 'RShoulder_y',
 'RHip_x',
 'RHip_y',
 'RKnee_x',
 'RKnee_y',
 'Neck_x',
 'Neck_y',
 'Nose_x',
 'Nose_y',
 'LShoulde_x',
 'LShoulde_y',
 'LHip_x',
 'LHip_y',
 'LKnee_x',
 'LKnee_y']

In [32]:

num = 0
path_file = os.path.join(path_train_file_dir, points_file_names[num])
data_df = pd.read_csv(path_file, index_col='frame_num')
# data_df = pd.read_csv(path_file, index_col='frame_num')

In [33]:
frame_length = 15
X = data_df.drop(columns=[objective])
X

,Unnamed: 0,Nose_x,Nose_y,Neck_x,Neck_y,RShoulder_x,RShoulder_y,RElbow_x,RElbow_y,RWrist_x,...,LAnkle_x,LAnkle_y,REye_x,REye_y,LEye_x,LEye_y,REar_x,REar_y,LEar_x,LEar_y
frame_num,,,,,,,,,,,,,,,,,,,,,
0,0,0.400000,0.028986,0.511111,0.173913,0.200000,0.188406,0.088889,0.376812,0.000000,...,0.888889,0.985507,0.355556,0.000000,0.466667,0.000000,0.266667,0.028986,0.600000,0.028986
1,1,0.369565,0.028986,0.478261,0.173913,0.195652,0.188406,0.086957,0.376812,0.000000,...,0.869565,1.000000,0.326087,0.014493,0.434783,0.000000,0.260870,0.028986,0.565217,0.028986
2,2,0.369565,0.028986,0.456522,0.173913,0.173913,0.202899,0.065217,0.391304,0.000000,...,0.913043,1.000000,0.326087,0.014493,0.434783,0.000000,0.239130,0.028986,0.565217,0.028986
3,3,0.369565,0.014706,0.456522,0.147059,0.152174,0.176471,0.065217,0.382353,0.000000,...,0.913043,1.000000,0.326087,0.000000,0.434783,0.000000,0.239130,0.014706,0.543478,0.014706
4,4,0.355556,0.014925,0.444444,0.149254,0.155556,0.179104,0.066667,0.373134,0.000000,...,0.933333,1.000000,0.311111,0.000000,0.422222,0.000000,0.244444,0.029851,0.555556,0.014925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1506,0.333333,0.285714,0.111111,0.428571,0.000000,0.571429,0.044444,0.714286,0.022222,...,1.000000,0.904762,0.200000,0.333333,0.311111,0.142857,0.111111,0.285714,0.355556,0.000000
1507,1507,0.333333,0.285714,0.111111,0.428571,0.000000,0.571429,0.044444,0.714286,0.022222,...,1.000000,0.904762,0.200000,0.333333,0.311111,0.142857,0.111111,0.285714,0.355556,0.000000
1508,1508,0.333333,0.285714,0.111111,0.428571,0.000000,0.571429,0.044444,0.714286,0.022222,...,1.000000,0.904762,0.200000,0.333333,0.311111,0.142857,0.111111,0.285714,0.355556,0.000000
1509,1509,0.333333,0.285714,0.111111,0.428571,0.000000,0.571429,0.044444,0.714286,0.022222,...,1.000000,0.904762,0.200000,0.333333,0.311111,0.142857,0.111111,0.285714,0.355556,0.000000
1510,1510,0.333333,0.285714,0.111111,0.428571,0.000000,0.571429,0.044444,0.714286,0.022222,...,1.000000,0.904762,0.200000,0.333333,0.311111,0.142857,0.111111,0.285714,0.355556,0.000000

In [34]:
points_file_names[0]

'fall.csv'

In [35]:
points_file_name = points_file_names[0]
path_file = os.path.join(path_train_file_dir, points_file_name)
data_df = pd.read_csv(path_file, index_col='frame_num')

In [36]:
units_df = None
new_data_df = None
for num, points_file_name in enumerate(points_file_names):
    print(points_file_name)
    path_file = os.path.join(path_train_file_dir, points_file_name)
    data_df = pd.read_csv(path_file, index_col='frame_num')
    units_df = None
    for idx in data_df.index[frame_length:len(data_df)]:
        unit_df = data_df[idx - frame_length: idx]
        y = unit_df[objective]
        Y=y.loc[idx-1]
        X = unit_df.drop(columns=[objective]).loc[:, target_columns]
        flatten_data=X.to_numpy().reshape(1,-1)
        A=['RShoulder_x','RShoulder_y', 'RHip_x', 'RHip_y','RKnee_x',
 'RKnee_y', 'Neck_x', 'Neck_y', 'Nose_x', 'Nose_y', 'LShoulde_x', 'LShoulde_y',
 'LHip_x', 'LHip_y', 'LKnee_x', 'LKnee_y']
        B=[a+"_"+str(i-14) for i in range(15) for a in A]
        X=pd.DataFrame(flatten_data,columns=B)
        X["action_gt_num"]=Y
        unit_df = X
        if units_df is None:
            units_df = unit_df
        else:
            units_df = pd.concat([units_df, unit_df], axis=0, sort=False)
    path_save_file = os.path.join(path_save_dir, points_file_name)
    units_df.to_csv(path_save_file)
    if new_data_df is None:
        new_data_df = units_df
    else:
        new_data_df = pd.concat([new_data_df, units_df], axis=0, sort=False)
train_data_df = new_data_df.copy()
train_data_df.to_csv(path_train_file)

fall.csv
sitdown.csv
standup.csv

In [37]:
train_data_df = new_data_df.copy()

In [38]:
train_data_df.groupby('action_gt_num').count()

,RShoulder_x_-14,RShoulder_y_-14,RHip_x_-14,RHip_y_-14,RKnee_x_-14,RKnee_y_-14,Neck_x_-14,Neck_y_-14,Nose_x_-14,Nose_y_-14,...,Neck_x_0,Neck_y_0,Nose_x_0,Nose_y_0,LShoulde_x_0,LShoulde_y_0,LHip_x_0,LHip_y_0,LKnee_x_0,LKnee_y_0
action_gt_num,,,,,,,,,,,,,,,,,,,,,
0,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,...,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021
1,948,948,948,948,948,948,948,948,948,948,...,948,948,948,948,948,948,948,948,948,948
2,185,185,185,185,185,185,185,185,185,185,...,185,185,185,185,185,185,185,185,185,185
3,282,282,282,282,282,282,282,282,282,282,...,282,282,282,282,282,282,282,282,282,282
4,304,304,304,304,304,304,304,304,304,304,...,304,304,304,304,304,304,304,304,304,304

In [39]:
X_train_data_df = train_data_df.drop([objective], axis=1)
y_train_data_df = train_data_df[objective]

In [40]:

train_data_df['dummy'] = 1
train_data_df.groupby(objective).count()['dummy']

action_gt_num
0    1021
1     948
2     185
3     282
4     304
Name: dummy, dtype: int64

In [41]:
train_data_df.head()

,RShoulder_x_-14,RShoulder_y_-14,RHip_x_-14,RHip_y_-14,RKnee_x_-14,RKnee_y_-14,Neck_x_-14,Neck_y_-14,Nose_x_-14,Nose_y_-14,...,Nose_x_0,Nose_y_0,LShoulde_x_0,LShoulde_y_0,LHip_x_0,LHip_y_0,LKnee_x_0,LKnee_y_0,action_gt_num,dummy
0,0.200000,0.188406,0.444444,0.536232,0.488889,0.753623,0.511111,0.173913,0.400000,0.028986,...,0.315789,0.029851,0.815789,0.149254,0.710526,0.477612,0.842105,0.746269,0,1
0,0.195652,0.188406,0.413043,0.536232,0.456522,0.753623,0.478261,0.173913,0.369565,0.028986,...,0.324324,0.029851,0.837838,0.149254,0.702703,0.477612,0.837838,0.746269,0,1
0,0.173913,0.202899,0.391304,0.521739,0.434783,0.753623,0.456522,0.173913,0.369565,0.028986,...,0.351351,0.029851,0.864865,0.149254,0.729730,0.477612,0.864865,0.746269,0,1
0,0.152174,0.176471,0.391304,0.514706,0.413043,0.750000,0.456522,0.147059,0.369565,0.014706,...,0.342105,0.029851,0.842105,0.149254,0.710526,0.477612,0.815789,0.746269,0,1
0,0.155556,0.179104,0.377778,0.522388,0.400000,0.761194,0.444444,0.149254,0.355556,0.014925,...,0.342105,0.030303,0.815789,0.151515,0.710526,0.484848,0.842105,0.757576,0,1

In [42]:
y_train=train_data_df["action_gt_num"]
x_train=train_data_df.drop("action_gt_num",axis=1).drop("dummy",axis=1)
x_train.head()

,RShoulder_x_-14,RShoulder_y_-14,RHip_x_-14,RHip_y_-14,RKnee_x_-14,RKnee_y_-14,Neck_x_-14,Neck_y_-14,Nose_x_-14,Nose_y_-14,...,Neck_x_0,Neck_y_0,Nose_x_0,Nose_y_0,LShoulde_x_0,LShoulde_y_0,LHip_x_0,LHip_y_0,LKnee_x_0,LKnee_y_0
0,0.200000,0.188406,0.444444,0.536232,0.488889,0.753623,0.511111,0.173913,0.400000,0.028986,...,0.473684,0.149254,0.315789,0.029851,0.815789,0.149254,0.710526,0.477612,0.842105,0.746269
0,0.195652,0.188406,0.413043,0.536232,0.456522,0.753623,0.478261,0.173913,0.369565,0.028986,...,0.459459,0.149254,0.324324,0.029851,0.837838,0.149254,0.702703,0.477612,0.837838,0.746269
0,0.173913,0.202899,0.391304,0.521739,0.434783,0.753623,0.456522,0.173913,0.369565,0.028986,...,0.459459,0.149254,0.351351,0.029851,0.864865,0.149254,0.729730,0.477612,0.864865,0.746269
0,0.152174,0.176471,0.391304,0.514706,0.413043,0.750000,0.456522,0.147059,0.369565,0.014706,...,0.473684,0.149254,0.342105,0.029851,0.842105,0.149254,0.710526,0.477612,0.815789,0.746269
0,0.155556,0.179104,0.377778,0.522388,0.400000,0.761194,0.444444,0.149254,0.355556,0.014925,...,0.447368,0.151515,0.342105,0.030303,0.815789,0.151515,0.710526,0.484848,0.842105,0.757576

In [43]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(penalty='l2', solver="sag", random_state=0)
clf.fit(x_train, y_train)

C:\Users\81806\anaconda3\envs\pyvino\lib\site-packages\sklearn\linear_model\_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='sag', tol=0.0001, verbose=0,
                   warm_start=False)

In [44]:
target_columns = ['RShoulder_x','RShoulder_y','RHip_x','RHip_y','RKnee_x','RKnee_y',
                  'Neck_x','Neck_y','Nose_x','Nose_y','LShoulde_x','LShoulde_y',
                  'LHip_x','LHip_y','LKnee_x','LKnee_y']

In [45]:
frame_length = 15

In [46]:
new_data_df = None
path_file = os.path.join(path_test_file_dir, "test.csv")
data_df = pd.read_csv(path_file,index_col='frame_num')
units_df = None
for idx in data_df.index[frame_length:len(data_df)]:
    unit_df = data_df.loc[idx - frame_length: idx-1]
    y = unit_df[objective]
    Y=y.loc[idx-1]
    X = unit_df.drop(columns=[objective]).loc[:, target_columns]
    flatten_data=X.to_numpy().reshape(1,-1)
    A=['RShoulder_x','RShoulder_y', 'RHip_x', 'RHip_y','RKnee_x',
 'RKnee_y', 'Neck_x', 'Neck_y', 'Nose_x', 'Nose_y', 'LShoulde_x', 'LShoulde_y',
 'LHip_x', 'LHip_y', 'LKnee_x', 'LKnee_y']
    B=[a+"_"+str(i-14) for i in range(15) for a in A]
    X=pd.DataFrame(flatten_data,columns=B)
    X["action_gt_num"]=Y
    unit_df = X
    if units_df is None:
        units_df = unit_df
    else:
        units_df = pd.concat([units_df, unit_df], axis=0, sort=False)
path_save_file = os.path.join(path_save_dir, points_file_name)
units_df.to_csv(path_save_file)
if new_data_df is None:
    new_data_df = units_df
else:
    new_data_df = pd.concat([new_data_df, units_df], axis=0, sort=False)
test_data_df = new_data_df.copy()
test_data_df.to_csv(path_test_file)

In [47]:
test_data_df.groupby(objective).count()

,RShoulder_x_-14,RShoulder_y_-14,RHip_x_-14,RHip_y_-14,RKnee_x_-14,RKnee_y_-14,Neck_x_-14,Neck_y_-14,Nose_x_-14,Nose_y_-14,...,Neck_x_0,Neck_y_0,Nose_x_0,Nose_y_0,LShoulde_x_0,LShoulde_y_0,LHip_x_0,LHip_y_0,LKnee_x_0,LKnee_y_0
action_gt_num,,,,,,,,,,,,,,,,,,,,,
0,337,337,337,337,337,337,337,337,337,337,...,337,337,337,337,337,337,337,337,337,337
1,228,228,228,228,228,228,228,228,228,228,...,228,228,228,228,228,228,228,228,228,228
2,74,74,74,74,74,74,74,74,74,74,...,74,74,74,74,74,74,74,74,74,74
3,117,117,117,117,117,117,117,117,117,117,...,117,117,117,117,117,117,117,117,117,117
4,210,210,210,210,210,210,210,210,210,210,...,210,210,210,210,210,210,210,210,210,210

In [48]:
test_data_df['dummy'] = 1
test_data_df.groupby(objective).count()['dummy']

action_gt_num
0    337
1    228
2     74
3    117
4    210
Name: dummy, dtype: int64

In [49]:
X_test_data_df = test_data_df.drop([objective], axis=1).drop("dummy",axis=1)
y_test_data_df = test_data_df[objective]
X_test_data_df.head()

,RShoulder_x_-14,RShoulder_y_-14,RHip_x_-14,RHip_y_-14,RKnee_x_-14,RKnee_y_-14,Neck_x_-14,Neck_y_-14,Nose_x_-14,Nose_y_-14,...,Neck_x_0,Neck_y_0,Nose_x_0,Nose_y_0,LShoulde_x_0,LShoulde_y_0,LHip_x_0,LHip_y_0,LKnee_x_0,LKnee_y_0
0,0.416667,0.159420,0.472222,0.521739,0.527778,0.768116,0.666667,0.159420,0.250000,0.043478,...,0.454545,0.171429,0.242424,0.028571,0.757576,0.171429,0.727273,0.500000,0.848485,0.742857
0,0.388889,0.159420,0.444444,0.521739,0.500000,0.768116,0.638889,0.159420,0.222222,0.043478,...,0.454545,0.159420,0.242424,0.028986,0.757576,0.159420,0.757576,0.492754,0.878788,0.739130
0,0.400000,0.159420,0.428571,0.521739,0.485714,0.768116,0.628571,0.159420,0.228571,0.043478,...,0.424242,0.159420,0.212121,0.028986,0.727273,0.159420,0.666667,0.507246,0.848485,0.739130
0,0.393939,0.159420,0.424242,0.521739,0.484848,0.768116,0.636364,0.159420,0.212121,0.028986,...,0.428571,0.159420,0.228571,0.028986,0.714286,0.159420,0.657143,0.507246,0.828571,0.739130
0,0.363636,0.171429,0.393939,0.528571,0.454545,0.771429,0.606061,0.171429,0.181818,0.042857,...,0.388889,0.171429,0.222222,0.028571,0.694444,0.157143,0.638889,0.500000,0.777778,0.728571

In [50]:
pred_names=["stand_pred","fall_pred","sittingdown_pred","standingup_pred","sitdown_pred"]
gt_names=["stand_gt","fall_gt","sittingdown_gt","standingup_gt","sitdown_gt"]

In [51]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix
predict = clf.predict(X_test_data_df)
print(accuracy_score(y_test_data_df, predict), precision_score(y_test_data_df, predict,average="micro"), recall_score(y_test_data_df, predict,average="micro"))
cm=confusion_matrix(y_test_data_df, predict)
confusion_matrix_df = pd.DataFrame(cm, columns=pred_names, index=gt_names)
confusion_matrix_df

0.5610766045548654 0.5610766045548654 0.5610766045548654

,stand_pred,fall_pred,sittingdown_pred,standingup_pred,sitdown_pred
stand_gt,295,39,3,0,0
fall_gt,81,147,0,0,0
sittingdown_gt,0,33,9,15,17
standingup_gt,10,62,5,11,29
sitdown_gt,0,130,0,0,80

In [52]:
from sklearn.ensemble import GradientBoostingClassifier
model= GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
model.fit(x_train, y_train)
predict= model.predict(X_test_data_df)
print(accuracy_score(y_test_data_df, predict), precision_score(y_test_data_df, predict,average="micro"), recall_score(y_test_data_df, predict,average="micro"))
cm=confusion_matrix(y_test_data_df, predict)
confusion_matrix_df = pd.DataFrame(cm, columns=pred_names, index=gt_names)
confusion_matrix_df

0.6097308488612836 0.6097308488612836 0.6097308488612836

,stand_pred,fall_pred,sittingdown_pred,standingup_pred,sitdown_pred
stand_gt,313,21,2,1,0
fall_gt,48,173,1,2,4
sittingdown_gt,1,33,0,23,17
standingup_gt,18,57,0,23,19
sitdown_gt,4,126,0,0,80

In [53]:
from sklearn.cluster import KMeans
k_means = KMeans(n_clusters=5, random_state=0)
k_means.fit(x_train,y_train)
predict= k_means.predict(X_test_data_df)
print(accuracy_score(y_test_data_df, predict), precision_score(y_test_data_df, predict,average="micro"), recall_score(y_test_data_df, predict,average="micro"))
cm=confusion_matrix(y_test_data_df, predict)
confusion_matrix_df = pd.DataFrame(cm, columns=pred_names, index=gt_names)
confusion_matrix_df

0.14699792960662525 0.14699792960662525 0.14699792960662525

,stand_pred,fall_pred,sittingdown_pred,standingup_pred,sitdown_pred
stand_gt,0,0,7,28,302
fall_gt,0,0,114,79,35
sittingdown_gt,0,0,18,15,41
standingup_gt,0,0,27,35,55
sitdown_gt,0,0,0,121,89

In [54]:
from sklearn.svm import SVC
model = SVC() 
model.fit(x_train, y_train)
predict= model.predict(X_test_data_df)
print(accuracy_score(y_test_data_df, predict), precision_score(y_test_data_df, predict,average="micro"), recall_score(y_test_data_df, predict,average="micro"))
cm=confusion_matrix(y_test_data_df, predict)
confusion_matrix_df = pd.DataFrame(cm, columns=pred_names, index=gt_names)
confusion_matrix_df

0.5693581780538303 0.5693581780538303 0.5693581780538303

,stand_pred,fall_pred,sittingdown_pred,standingup_pred,sitdown_pred
stand_gt,312,24,0,1,0
fall_gt,92,136,0,0,0
sittingdown_gt,1,33,0,19,21
standingup_gt,17,58,0,22,20
sitdown_gt,2,128,0,0,80